*{
 margin:0;
 padding: 0;
}
.container{
    width: 100%;
    min-height: 100vh;
    background-color: #181818;
    padding-left:8%;
    padding-right:8%;
    padding-top: 1%;
    box-sizing: border-box;

}
.nav
{
    display: flex;
    width: 100%;
    align-items: center;
    color: #f8f8f8;
    font-family: 'oswald', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    
}
.navmenu{
    flex: 1;
    text-align: center;
}
.navmenu ul li{
    list-style: none;
    display:inline-flex;
    margin-right: 50px;
}
.navmenu ul li a{
    text-decoration: none;
    color: #f8f8f8;
    font-size: 15px;
}
.navmenu ul li a:hover{
    background-color: #181818;
    border: 1px solid #f8f8f8;
    box-shadow: #c494ff 5px 5px;
    padding: 5px;
}
.logo{
    text-align: center;
    text-shadow: 2px 2.5px #a460f9;
    lighting-color: #a460f9;   
    cursor: pointer;
}
.hero
{
    display: flex;
    height: 100vh;
    justify-content: space-between;
    overflow: hidden;
}
.item1{
        color: #f8f8f8;
        font-family: 'krub', sans-serif;
        text-transform: uppercase;
        margin-top: 10%;
}
.item1 h1{
    font-size: 100px;
}
.item1 n{
    color: #a460f9;
}
.item1 p{
    margin-top: 40%;
    color: #f8f8f8;
    font-size: 30px;
    transform: rotate(-90deg);
    margin-left: -85%;
}
.item2 img{
    width: 500px;
}
.item3{
    color: #f8f8f8;
    font-family: 'krub', sans-serif;
    text-transform: capitalize;
    margin-top: 30%;
}
.item3 h1{
    font-size: 20px;
}
.item3 p{
    color: #f8f8f8a7;
}
.item3 button{
    padding: 10px;
    background-color: #a460f9;
    border: none;
    color: #f8f8f8;
    font-family: 'krub',sans-serif;
    font-size: 15px;
    font-weight: 500;
    margin-top: 20px;
    cursor: pointer;
}
.item3 button:hover{
    background-color: #181818;
    border: 1px solid #f8f8f8;
    box-shadow: #a460f9 5px 5px;
}
.pcard{
    width: 100%;
    height: 150px;
    background-color: #181818;
    position: relative;
    box-shadow: 0px 0px 20px 20px #15151586;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-transform: uppercase;
}
.pcard:hover{
    box-shadow: 10px 10px #a460f9;
    border: 1px solid #f8f8f8;
}
.pcard div h1{
    color: #f8f8f8;
    text-align: center;
    font-family: 'oswald', sans-serif;
    font-weight: 400;
    margin-right: 10%;
    font-size: 50px;
}
.pcard div h1::first-letter{
    color: #a460f9;
}
.pdiv1{
    display: inline-flex;
    align-items: center;
}
.pdiv1 div{
    color: #f8f8f8;
    font-family: 'krub',sans-serif;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1px;
}
.pdiv1 div::first-line{
font-weight: 400;
}
.fh{
    margin:20% 0%;
    text-align: center;
    font-size: 50px;
    color: #f8f8f8;
    font-family: 'krub',sans-serif;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;

}
.fh2{
    font-family: 'krub',sans-serif;
}
.fh1{
    font-weight: 700;
    letter-spacing: 1px;
}
.cer{
    width: 40%;
    height:50vh;
    background-color: transparent;
    border: 1px solid #f8f8f8;
    box-shadow: 10px 10px #a460f9 ;
    border-radius: 50%;
    position: absolute;
    transform: rotate(20deg);
    z-index: -1;
    animation-name: my1;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.cer1{
    width: 40%;
    height:50vh;
    background-color: transparent;
    border: 1px solid #a460f9;
    box-shadow: 10px 10px #f8f8f8 ;
    border-radius: 50%;
    position: absolute;
    transform: rotate(20deg);
    z-index: -2;
    animation-name: my2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes my1 {
    
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }

}
@keyframes my2 {
    
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(-360deg);
    }

}